nav{
  background-color: #282c34;
  padding: 7px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.navbar {
  display: flex;  
  
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item-right {
  margin-left: auto;
}

.navlink {
  text-decoration: none;
  color: #1a1a1b;
  font-weight: 600;
  padding: 10px 15px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.navlink:hover {
  color: #007bff;
}

.nav-button {
  background: #a1a4a5;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background .3s;
  text-align: center;
  display: inline-block;
}

.nav-button:hover,
.nav-button:focus {
  background: #0056b3;
  transition: background .3s;
}

.nav-button:visited {
  color: #fff;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

@media screen and (max-width: 767px) {
  .nav-list {
      display: none;
  }

  .menu-icon {
      display: block;
  }

  .nav-item {
      margin: 15px 0;
  }
}