.item-details {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: rgb(205, 205, 205);
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-header {
    font-weight: bold;
}